<!DOCTYPE html>
<html>

<head>
    <title>Party2202</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/plug-in/jquery-weui/lib/weui.min.css">
    <link rel="stylesheet" href="/static/plug-in/jquery-weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <script src="/static/plug-in/jquery-weui/lib/jquery-2.1.4.js"></script>
    <script src="/static/plug-in/jquery-weui/js/jquery-weui.js"></script>
    <script src="/static/plug-in/layer/layer.js"></script>
    <script src="/static/js/buer_post.js"></script>
</head>

<body>
    {{.LayoutContent}}
</body>

</html>
