body,
html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: #fbfbfb;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

.title {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    color: #3cc51f;
    font-weight: bold;
    line-height: 80px;
}

.result {
    margin: 20px 10px 10px 10px;
    font-weight: bold;
}

.my-table {
    width: 100%;
}
.my-table, .my-table td {
    border: 1px solid #ddd;
}
.my-table td {
    text-align: center;
}
.my-table td.can-join {
    color: #fff;
    background-color: #3cc51f;
}

.footer {
    text-align: center;
    margin-top: 500px;
    height: 240px;
}
