body,
html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: #fbfbfb;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.weui-grid__icon img {
    width: auto;
    height: auto;
}

.logo {
    text-align: center;
    margin-top: 10px;
}

.href-home {
    position: absolute;
    top: 1px;
    right: 2px;
}

.title {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    color: #3cc51f;
    font-weight: bold;
    line-height: 80px;
}

.section {
    margin: 15px;
}

.my-table {
    width: 100%;
}

.my-table,
.my-table td {
    border: 1px solid #ddd;
}

.my-table td {
    text-align: center;
}

.my-table td.can-join {
    color: #fff;
    background-color: #3cc51f;
}

.confirm-desc {
    color: red;
    padding: 0 15px;
}

.footer {
    text-align: center;
    padding: 50px 0 10px 0;
}

.user-center {
    color: #01AAED;
}

.member-left-icon {
    position: absolute;
    top: 8px;
}
.member-right-icon {
    position: absolute;
    top: 8px;
    right: 84px;
}
.member-name {
    position: relative;
    left: 35px;
}
